services:
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio12345
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3
    volumes:
      - minio_data:/data

  mlflow:
    build:
      context: .
      dockerfile: docker/serve.Dockerfile
    ports:
      - "5000:5000"
    environment:
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: minio12345
    command: >
      mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri sqlite:////mlflow/mlflow.db --default-artifact-root s3://mlflow/
    volumes:
      - mlflow_data:/mlflow
    depends_on:
      minio:
        condition: service_healthy

  zenml:
    image: zenmldocker/zenml-server:latest
    ports:
      - "8237:8080"
    environment:
      - ZENML_STORE_URL=sqlite:///zenml/store.db
      - ZENML_SERVER_DEPLOYMENT_TYPE=docker
    volumes:
      - zenml_data:/zenml
    extra_hosts:
      - "host.docker.internal:host-gateway"

  api:
    build:
      context: .
      dockerfile: docker/serve.Dockerfile
    ports:
      - "8000:8000"
    environment:
      MODEL_PATH: models/exported/model.pkl
      MODEL_VERSION: v1
      MLFLOW_TRACKING_URI: http://mlflow:5000
    volumes:
      - ./models/exported:/app/models/exported
    depends_on:
      mlflow:
        condition: service_started

volumes:
  minio_data:
  mlflow_data:
  zenml_data:
