scikit-learn
pandas
numpy
matplotlib
seaborn
dvc[s3]

mlflow<3.0
optuna
zenml[server]

fastapi
uvicorn
pydantic

joblib
python-dotenv

boto3
minio
sqlalchemy-utils
sqlmodel
passlib
pymysql
bcrypt
streamlit
requests